<section class="home_course section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-6 col-xs-12"><div class="section-title"><h2>با بیش از<b>80000+</b><br>سازندگان دوره ها و یادگیری</h2></div></div>
            <div class="col-lg-4 col-sm-6 col-xs-12"><div class="cour_btn"><a href="course.html" class="btn_one">مشاهده تمام دوره ها<i class="ti-arrow-top-left"></i></a></div></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="single_course">
                    <div class="single_c_img">
                        <img src="/img/course/1.png" class="img-fluid" alt="course-image"><span>تحصیلات</span>
                    </div>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><h4><a href="course.html">اصول اولیه کاربر را کامل از مبتدی تا پیشرفته</a></h4>
                    <p><span class="ti-book"></span>12 دوره</p>
                    <p><span class="ti-alarm-clock"></span>2 ساعت و 32 دقیقه</p>
                    <div class="price">هزینه دوره - 99 تومان</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="single_course">
                    <div class="single_c_img">
                        <img src="/img/course/2.png" class="img-fluid" alt="course-image"><span>UI/UX</span>
                    </div>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><h4><a href="course.html">دوره توسعه اندروید 12 و کاتلین پیشرفته</a></h4>
                    <p><span class="ti-book"></span>41 دوره</p>
                    <p><span class="ti-alarm-clock"></span>3 ساعت و 32 دقیقه</p>
                    <div class="price">هزینه دوره - 49 تومان</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="single_course">
                    <div class="single_c_img">
                        <img src="/img/course/3.png" class="img-fluid" alt="course-image"><span>سبک زندگی</span>
                    </div>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><h4><a href="course.html">دوره آموزشی HTML، CSS و Javascript را کامل کنید</a></h4>
                    <p><span class="ti-book"></span>32 دوره</p>
                    <p><span class="ti-alarm-clock"></span>2 ساعت و 32 دقیقه</p>
                    <div class="price">هزینه دوره - رایگان</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="single_course">
                    <div class="single_c_img">
                        <img src="/img/course/4.png" class="img-fluid" alt="course-image"><span>علوم پایه</span>
                    </div>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><h4><a href="course.html">IOS و Swift توسعه اپلیکیشن iOS را کامل کردند</a></h4>
                    <p><span class="ti-book"></span>19 دوره</p>
                    <p><span class="ti-alarm-clock"></span>2 ساعت و 32 دقیقه</p>
                    <div class="price">هزینه دوره - 59 تومان</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="single_course">
                    <div class="single_c_img">
                        <img src="/img/course/5.png" class="img-fluid" alt="course-image"><span>نوین</span>
                    </div>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><h4><a href="course.html">طراحی گرافیک را با بهترین مربی IT بیاموزید</a></h4>
                    <p><span class="ti-book"></span>22 دوره</p>
                    <p><span class="ti-alarm-clock"></span>2 ساعت و 32 دقیقه</p>
                    <div class="price">هزینه دوره - 79 تومان</div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-xs-12">
                <div class="single_course">
                    <div class="single_c_img">
                        <img src="/img/course/6.png" class="img-fluid" alt="course-image"><span>بازار یابی</span>
                    </div>
                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><h4><a href="course.html">علم داده را برای کسب و کار بعدی خود کامل کنید</a></h4>
                    <p><span class="ti-book"></span>11 دوره</p>
                    <p><span class="ti-alarm-clock"></span>2 ساعت و 32 دقیقه</p>
                    <div class="price">هزینه دوره - 39 تومان</div>
                </div>
            </div>
        </div>
    </div>
</section>