<section class="count_area counter_feature">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single-counter">
                    <span class="ti-folder sc_one"></span><h2 class="counter-num">134</h2>
                    <p>دوره آنلاین ما</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single-counter">
                    <span class="ti-medall-alt sc_two"></span><h2 class="counter-num">299</h2>
                    <p>برنامه ها</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single-counter">
                    <span class="ti-id-badge sc_three"></span><h2 class="counter-num">684</h2>
                    <p>دانشجویان ماهر</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single-counter">
                    <span class="ti-user sc_four"></span><h2 class="counter-num">941</h2>
                    <p>ثبت نام کرده ها</p>
                </div>
            </div>
        </div>
    </div>
</section>