<section class="home_bg hb_height" style="background-image: url(img/bg/home-bg2.jpg); background-size:cover; background-position: center center;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12"><div class="hero-text-img2"><img src="/img/home-img1.png" class="img-fluid" alt=""></div></div>
            <div class="col-lg-6 col-sm-12 col-xs-12">
                <div class="hero-text2 ht_top">
                    <h1>ما را کاوش کنید<span>14000+</span>دوره های آنلاین برای همه</h1>
                    <p>لورم ایوم متن ساختگی با تولید آسان نامفهوم از صنعت چاپ با استفاده از طراحان گرافیک است. چاپگرها و</p>
                </div>
                <div class="home_sb2">
                    <form action="#" class="banner_subs2">
                        <input type="text" class="form-control home_si2" placeholder="دوره خود را اینجا جستجو کنید" required="required"><button type="button" class="subscribe__btn">جستجو کردن<i class="fa fa-paper-plane-o"></i></button>
                    </form>
                </div>
                <div class="home_tag">
                    <span>موضوع محبوب:</span><a href="#">طرح،</a><a href="#">توسعه،</a><a href="#">گرافیک،</a><a href="#">بازار یابی</a>
                </div>
            </div>
        </div>
    </div>
</section>