<section id="blog" class="blog_area section-padding">
    <div class="container">
        <div class="section-title text-center">
            <h2>آخرین وبلاگ و اخبار</h2>
            <p>ما یک رویکرد کاملاً جدید برای اساسی ترین پارادایم های یادگیری ارائه می دهیم. از میان طیف گسترده ای از گزینه های یادگیری انتخاب کنید و مهارت های جدیدی به دست آورید! مدرسه ما معلوم است</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="single_blog">
                    <img src="/img/blog/1.jpg" class="img-fluid" alt="image"><div class="content_box">
                        <span>10 مه 2024 |<a href="blog.html">تحصیلات</a></span><h2><a href="blog.html">نقاشی و مجسمه سازی حرفه ای موبایل</a></h2>
                        <a class="btn_one" href="blog.html">ادامه مطلب<i class="ti-arrow-top-left"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="single_blog">
                    <img src="/img/blog/2.jpg" class="img-fluid" alt="image"><div class="content_box">
                        <span>16 مه 2024 |<a href="blog.html">تحصیلات</a></span><h2><a href="blog.html">قالب گیری سرامیک حرفه ای برای مبتدیان</a></h2>
                        <a class="btn_one" href="blog.html">ادامه مطلب<i class="ti-arrow-top-left"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
                <div class="single_blog">
                    <img src="/img/blog/3.jpg" class="img-fluid" alt="image"><div class="content_box">
                        <span>18 مه 2024 |<a href="blog.html">برنامه نویسی</a></span><h2><a href="blog.html">آموزش درباره ایجاد رهبران برای فردا است</a></h2>
                        <a class="btn_one" href="blog.html">ادامه مطلب<i class="ti-arrow-top-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>