<section class="ab_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0"><div class="ab_img"><img src="/img/about1.png" class="img-fluid" alt="image"></div></div>
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
                <div class="ab_content">
                    <h2>ما دوره آنلاین را در جهان جهانی ارائه می دهیم</h2>
                    <p>ما یک رویکرد کاملاً جدید برای اساسی ترین پارادایم های یادگیری ارائه می دهیم. از میان طیف گسترده ای از گزینه های یادگیری انتخاب کنید و مهارت های جدیدی به دست آورید! مدرسه ما معلوم است</p>
                    <p>ما یک رویکرد کاملاً جدید برای اساسی ترین پارادایم های یادگیری ارائه می دهیم. از میان طیف گسترده ای از گزینه های یادگیری انتخاب کنید و مهارت های جدیدی به دست آورید! مدرسه ما معلوم است</p>
                    <ul>
                        <li>
                            <span class="ti-check"></span>دسترسی پیدا کنید<b>12000+</b>از دوره های برتر ما
                        </li>
                        <li>
                            <span class="ti-check"></span>موضوع پرطرفدار برای یادگیری اکنون در دوره های آنلاین ما برای دانش آموزان
                        </li>
                        <li>
                            <span class="ti-check"></span>مربی مناسب خود را پیدا کنید
                        </li>
                    </ul>
                    <a class="btn_one" href="course.html">مشاهده همه دوره ها<i class="ti-arrow-top-left"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>