@using TopLearn.Core.DTOs;
    using TopLearn.Core.DTOs.User
@model ChangePassWordViewModel

@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<div class="container">
    <div name="UserInformationArea">
        <div class="row col-12" style="padding-top: 50px;">
            <partial name="PartialViews/_UserPanelSideBar" />
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="card shadow-lg border border-primary p-3">
                    <div class="card-body">
                        <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="contact">
                                <h3>تغییر کلمه عبور</h3>
                                <br />
                                @if (ViewBag.IsSuccess != null)
                                {
                                    <div class="alert alert-success" style="margin: 0 auto; text-align: center; max-width: 600px;">
                                        <p>کلمه عبور شما با موفقیت تغییر کرد</p>
                                    </div>
                                }
                                <form asp-action="ChangePassWord" method="post">
                                    <div class="row">
                                        <div class="form-group col-md-6">
                                            <label asp-for="OldPassWord">
                                                کلمه عبور قدیمی
                                                <span asp-validation-for="OldPassWord" class="text-danger"></span>
                                            </label>
                                            <input type="password" asp-for="OldPassWord" class="form-control" placeholder="کلمه عبور قدیمی">
                                        </div>
                                        <br />
                                        <div class="form-group col-md-6">
                                            <label asp-for="PassWord">
                                                کلمه عبور جدید
                                                <span asp-validation-for="PassWord" class="text-danger"></span>
                                            </label>
                                            <input type="password" asp-for="PassWord" class="form-control" placeholder="کلمه عبور جدید">
                                        </div>
                                        <br />
                                        <div class="form-group col-md-6">
                                            <label asp-for="RePassWord">
                                                تکرار کلمه عبور جدید
                                                <span asp-validation-for="RePassWord" class="text-danger"></span>
                                            </label>
                                            <input type="password" asp-for="RePassWord" class="form-control" placeholder="تکرار کلمه عبور جدید">
                                        </div>
                                        <div class="form-group col-md-12">
                                            <div class="col-md-6 text-center">
                                                <button class="btn btn_one">تایید تغییرات</button>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

