<!DOCTYPE html>
<html dir="rtl" lang="en">
<head>
    <partial name="_MetaTags" />
    <title>تاپ لرن | @ViewData["Title"]</title>
    <partial name="_Styles" />
</head>
<body data-spy="scroll" data-offset="80">
    <div class="preloaders"><span class="loader"></span></div>
    <partial name="_MainMenu" />
    @RenderBody()
    <partial name="_Scripts" />
    <partial name="_Footer" />
</body>
</html>

