<div id="navigation" class="navbar-light bg-faded site-navigation navigation2">
    <div class="container">
        <div class="row">
            <div class="col-md-2 align-self-center">
                <div class="site-logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/img/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-md-6 d-flex">
                <nav id="main-menu">
                    <ul>
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">صفحه اصلی</a></li>
                        <li>
                            <a href="about.html">درباره</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="course.html">دوره</a>
                            <ul>
                                <li><a href="course.html">دوره</a></li>
                                <li><a href="course_details.html">جزئیات دوره</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">صفحات</a>
                            <ul>
                                <li><a href="instructor.html">مربی</a></li>
                                <li><a href="ins_details.html">مشخصات مربی</a></li>
                                <li><a href="pricing.html">طرح قیمت گذاری</a></li>
                                <li><a href="faq.html">صفحه فک</a></li>
                                <li><a href="404.html">404</a></li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="blog.html">وبلاگ</a>
                            <ul>
                                <li><a href="blog.html">وبلاگ</a></li>
                                <li><a href="blog_single.html">جزئیات وبلاگ</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-md-4 d-none d-xl-block text-end align-self-center">
                    <a class="btn_one" asp-area="UserPanel" asp-controller="Home" asp-action="Index">پنل کاربری @User.Identity.Name</a>
                    <a style="display: inline-block; padding-right: 20px;" class="header-btn" asp-area="" asp-controller="Account" asp-action="Logout">  خروج  </a>
                </div>
            }
            else
            {
                <div class="col-20 d-none d-xl-block text-end align-self-center">
                    <a class="btn_one" asp-controller="Account" asp-action="Register">ثبت نام</a>
                    <a style="display: inline-block; padding-right: 40px;" class="header-btn" asp-controller="Account" asp-action="Login">  ورود  </a>
                </div>
            }

            <ul class="mobile_menu">
                <li>
                    <a href="#">صفحه اصلی</a>
                    <ul class="sub-menu">
                        <li><a href="index.html">صفحه اصلی 01</a></li>
                        <li><a href="index2.html">صفحه اصلی 02</a></li>
                    </ul>
                </li>
                <li><a href="about.html">درباره</a></li>
                <li>
                    <a href="#">دوره</a>
                    <ul class="sub-menu">
                        <li><a href="course.html">دوره</a></li>
                        <li><a href="course_details.html">جزئیات دوره</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">صفحات</a>
                    <ul class="sub-menu">
                        <li><a href="instructor.html">مربی</a></li>
                        <li><a href="ins_details.html">مشخصات مربی</a></li>
                        <li><a href="pricing.html">طرح قیمت گذاری</a></li>
                        <li><a href="faq.html">صفحه فک</a></li>
                        <li><a href="404.html">404</a></li>
                    </ul>
                </li>
                <li>
                    <a href="blog.html">وبلاگ</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">وبلاگ</a></li>
                        <li><a href="blog_single.html">جزئیات وبلاگ</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">مخاطب</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
