@{
    ViewData["Title"] = "فعالسازی حساب کاربری";
}



@if (ViewBag.IsActive)
{
    <br />
    <br />
    <br />
    <div class="alert alert-success" style="margin: 0 auto; text-align: center; max-width: 600px;">
        <p>حساب کاربری شما با موفقیت فعال شد</p>
        <br />
        <a class="btn_one" href="/Login">ورود به حساب کاربری</a>
        <br />
    </div>
    <br />
    <br />
    <br />
}
else
{
    <br />
    <br />
    <br />
    <div class="alert alert-danger" style="margin: 0 auto; text-align: center; max-width: 600px;">
        <p>حساب کاربری با مشخصات ارسال شده یافت نشد</p>
    </div>
    <br />
    <br />
    <br />
}
