@using TopLearn.Core.DTOs;
@model LoginViewModel

@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<br />
<br />
<div id="contact" class="contact_area section-padding">
    <div class="container">
        <!-- Center the card on the screen -->
        <div class="row justify-content-center">
            <!-- Card with centered form inside -->
            <div class="col-12 col-md-8 col-lg-6 col-xl-4">
                <!-- Card with border and padding -->
                <div class="card shadow-lg border border-primary p-3">
                    <div class="card-body">
                        <div class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="contact">
                                <h3 class="text-center">بازیابی کلمه عبور</h3>
                                <br />
                                @if (ViewBag.IsSuccess != null)
                                {
                                    <div class="alert alert-success">
                                        <p>ایمیلی حاوی لینک بازیابی رمز عبور برای شما ارسال شد</p>
                                    </div>
                                }
                                <form id="forgotPassWordForm" class="form" asp-action="ForgotPassWord" method="post">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label asp-for="Email">
                                                ایمیل
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </label>
                                            <input asp-for="Email" class="form-control" placeholder="ایمیل خود را وارد کنید">
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn_one">تایید و ارسال</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
