@using TopLearnWeb.DataLayer.Entities.User
@model User
@{
    ViewData["Title"] = "پایان ثبت نام";
}
<br />
<br />
<br />
<br />
<div class="alert alert-success" style="margin: 0 auto; text-align: center; max-width: 600px;">
    <h2>@Model.UserName عزیز!</h2>
    <p>ثبت نام شما با موفقیت انجام شد ، ایمیلی حاوی لینک فعالسازی به ایمیل @Model.Email ارسال شد.</p>
    <p>جهت تکمیل ثبت نام وارد ایمیل خود شده و روی لینک فعالسازی کلیک کنید.</p>
</div>
<br />
<br />
<br />
<br />