
@{
    ViewData["Title"] = "خانه";
}


<partial name="Landing/_HomeBackGround" />
<div class="container">
    <partial name="Landing/_PartnerLogos" />
    <partial name="Landing/_Courses" />
    <partial name="Landing/_IntroVideo" />
    <partial name="Landing/_CountArea" />
    <partial name="Landing/_WebSiteIntro" />
    <partial name="Landing/_InstructorsArea" />
    <partial name="Landing/_RecentArticles" />
</div>


